<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AppsFlyerAppID</key>
		<string>6741470168</string>
		<key>AppsFlyerDevKey</key>
		<string>TVuiYiPd4Bu5wzUuZwTymX</string>
		<key>AppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSUserTrackingUsageDescription</key>
		<string>We use this identifier to deliver personalized ads to improve your experience.</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Vault Book</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>com.appadsrocket.contactvault</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Vault Book</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSContactsUsageDescription</key>
		<string>This app requires contacts access to function properly</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app requires photo library access to share images</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>We need access to your microphone to make phone calls.</string>
		<key>NSPhoneUsageDescription</key>
		<string>We need access to make and manage phone calls.</string>
		<key>NSCallKitUsageDescription</key>
		<string>We need access to manage your calls using CallKit.</string>
		<key>NSAppleEventsUsageDescription</key>
		<string>We need this permission to manage your calls.</string>
		<key>NSCalendarsUsageDescription</key>
		<string>We need access to your calendar to manage call reminders.</string>
		<key>NSCameraUsageDescription</key>
		<string>We need access to your camera for video calls.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We need your location to provide better call services.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>We need your location to provide better call services even when the app is in background.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>We need your location to provide better call services at all times.</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
			<string>voip</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>sms</string>
			<string>tel</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
